/* Social Media Icons */
.social-darker i {
  -webkit-transition: color 0.6s;
  -o-transition: color 0.6s;
  transition: color 0.6s;
  font-size: 32px;
  padding: 2px;
  margin: 2px;
  color: #888888;
}
.social-darker i:hover {
  text-decoration: none;
  color: #333333;
}
/* Sponsors section subtitles */
.sponsors-subtitle {
	font-size: 34px;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
}
/* Verical alighment of logos */
.logo-info-box {
	height: 172px;
	position: relative;
}
.logo {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*width: 50%;
    height: 30%;*/
    margin: auto;
}