  <div id="about" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">Agile Day Riga {{ page.year }}</h2>
    </div>
    <div class="inner-page row">
      <div class="col-md-12">
        <p class="lead">Main idea is to provide a clear explanation to participants why agile software development approach becomes so important nowadays, and what is the essence of agile, how it helps solve problems and facilitate discussions and experience exchange between agile practitioners and newcomers. We will be glad if you join us on {{ page.date }}.</p>
      </div>
    </div>

    <!-- about -->
    <div class="inner-page row">
      <div class="col-md-6">
        <h3>What is Agile Day Riga?</h3>
        <p>Goal of this conference is to provide a clear explanation why Agile and Lean software development approaches became so important nowadays, show how these approaches help to solve problems and facilitate discussions and experience exchange between Agile practitioners and newcomers.</p>
      </div>
      <div class="col-md-6">
        <h3>What is Agile Latvia?</h3>
        <p><a href="http://www.agilelatvia.org">Agile Latvia</a> is a community with a goal to spread information about Agile practices amongst Latvian software development professionals and industry newcomers.</p>
      </div>
    </div> <!-- /about -->