  <div id="about" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">Agile Day Riga {{ page.year }}</h2>
    </div>
    <div class="inner-page row">
      <div class="col-md-12">
        <p class="lead">Agile Day Riga is back in the new format of unconference. We will be glad you to join the crowd on {{ page.date }}.</p>
        <p class="lead">Years passed and the word Agile is not a hype anymore. All of us heard about it. Most of us tried it. Some of us gained and continue to gain experience with it.</p>
        <p class="lead">As we mentioned, this year we are back in the format of unconference — the unique format, because it creates the space for peer-to-peer learning, collaboration and creativity. We invite you to join and share your insights and feelings, discuss the questions you care about.</p>
      </div>
    </div>
  </div>
