  <div id="about" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">Agile Day Riga {{ page.year }}</h2>
    </div>
    <div class="inner-page row">
      <div class="col-md-12">
        <p class="lead">Let's gather, share our experience and learn together! We will be glad if you join us on {{ page.date }}.
        Let's use this day for peer-to-peer learning, collaboration and creativity. We invite you to join and share your insights and feelings, discuss the questions you care about. </p>
      </div>
    </div>

    <!-- about -->
    <div class="inner-page row">
      <div class="col-md-6">
        <h3>What is Agile Day Riga?</h3>
        <p>Goal of this conference is to provide a clear explanation why Agile and Lean software development approaches became so important nowadays, show how these approaches help to solve problems and facilitate discussions and experience exchange between Agile practitioners and newcomers.</p>
      </div>
      <div class="col-md-6">
        <img class="figurette lazy" src="/img/conference-2014.png" data-original="/img/conference-2014.png" alt="Agile Day Riga" style="display: block;">
      </div>
    </div> 
    <div class="inner-page row">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <img class="figurette lazy" src="/img/Top-50-Agile-Conferences-2014-award.png" data-original="/img/conference-2014.png" alt="Top 50 Agile Conferences of 2014" style="display: block;">
      </div>
      <div class="col-md-6">
        <h3>Top 50 Agile Conferences of 2014</h3>
        <p>Yes, we're in <a href="http://softwaredevelopmenttoday.com/2015/01/the-top-50-agile-conferences-including-lean-kanba-scrum/">the top 50</a> and we want to keep and improve our place there. That means that we try our best to deliver the spirit of learning and knowledge sharing to our audience.</p>
      </div>
    </div>
    <div class="inner-page row">
      <div class="col-md-6">
        <h3>What is Agile Latvia?</h3>
        <p>Agile Latvia is a community with a goal to spread information about Agile practices amongst Latvian software development professionals and industry newcomers.</p>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-3 lazy-container loaded">
        <a href="http://www.agilelatvia.org" target="_blank"><img class="figurette lazy" src="/img/agile-latvia.png" data-original="/img/agile-latvia-small.png" alt="Agile Latvia" style="display: block;"></a>
      </div>
      <div class="col-md-2 lazy-container loaded">
        <a href="http://softwaredevelopmenttoday.com/2015/01/the-top-50-agile-conferences-including-lean-kanba-scrum/" target="_blank"><img class="figurette lazy" src="/img/SCR20456_UserGroup_Logo-RGB-107x130.png" data-original="/img/SCR20456_UserGroup_Logo-RGB-107x130.png" alt="Scrum Alliance UG" style="display: block;"></a>
      </div>
    </div> <!-- /about -->
