  <!-- sessions -->
  <div id="vfs" class="page color-3">
    <div class="inner-page">
      <!-- <h2 class="page-headline">Schedule</h2> -->
      <h2 class="page-headline">Schedule</h2>
    </div>
    <div class="inner-page row">
      <div class="col-md-12">
        <p class="lead">The schedule has been finalized. Session order is subject to change, check back <a href="http://lanyrd.com/2015/adr15/schedule/?day=may-23&fullscreen=1&view=grid" targer="_blank">here</a> for updates.</p> 
      </div>
    </div>

    
    <div class="row inner-page">
      <div class="col-md-12">
        <div class="lanyrd-target-schedule">
            <a href="http://lanyrd.com/2015/adr15/schedule/"
                class="lanyrd-schedule"
                data-lanyrd-abstracts
                data-lanyrd-truncateabstracts="300"
                data-lanyrd-speakers
                data-lanyrd-speakerlabels
                data-lanyrd-speakerbios
                data-lanyrd-nolink
                data-lanyrd-nostyles>
                Schedule for Agile Day Riga 2015 on Lanyrd
            </a>
        </div>
      </div>
    </div>  
  </div>  <!-- /sessions -->