  <!-- Call for speakers -->
  <div id="cfp" class="page color-3">
    <div class="inner-page">
      <h2 class="page-headline">Call For Speakers</h2>
    </div>
    <div class="inner-page row">
      <div class="col-md-12">
        <p class="lead">Add your awesome session <a href="https://docs.google.com/forms/d/1D-Skil3nChTzHh98RaYz_NLbCYeQHodyDPhQHg1xzH8" target="_blank">here</a>!</p>
        <p>You are welcome to participate as a speaker. The sessions can be conducted in any language known to the audience, however we recommend to use English.</p>
        <p>Note, that call for speakers will be closed on March 31, so the earlier you submit your session the more votes your session can gain. The submitted session will be added to the list for voting during one day and since that moment you can promote it to the audience.</p>
        <p>Please, note:
          <ul>
            <li>— The organizers have the right to decline the speaker.</li>
            <li>— The organizers do not warrant refunding of travel expenses of the speakers.</li>
          </ul>
        </p>
      </div>
      <!-- <div class="col-md-12">
        <div>
          <iframe src="https://docs.google.com/forms/d/1D-Skil3nChTzHh98RaYz_NLbCYeQHodyDPhQHg1xzH8/viewform?embedded=true" min-width="500" width="100%" height="2044" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
      </div>  -->
    </div>
  </div> <!-- /Call for speakers -->
