
    <!-- Twitter stream -->
    <div class="inner-page row">
      <div class="twitter-timelines row">
        <div class="col-md-6"><a class="twitter-timeline" href="https://twitter.com/agilelatvia" data-widget-id="439780009348046849">Tweets by @agilelatvia</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="col-md-6"><a class="twitter-timeline" href="https://twitter.com/hashtag/adr16" data-widget-id="705468315930664961">#adr16 Tweets</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div> <!-- /Twitter stream -->
