    <!-- sponsors -->
    <div class="inner-page">
      <h2 class="page-headline">Our gratitude to</h2>
    </div>
    <div class="inner-page row">
      <div class="col-md-4 lazy-container loaded">
        <a href="http://www.accenture.com/lv-en/Pages/index.aspx" target="_blank"><img class="lazy" src="/img/sponsors/accenture.png"></a>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <p class="lead">Accenture is a global management consulting, technology services and outsourcing company, with more than 281,000 people serving clients in more than 120 countries. Combining unparalleled experience, comprehensive capabilities across all industries and business functions, and extensive research on the world’s most successful companies, Accenture collaborates with clients to help them become high-performance businesses and governments.</p>
      </div>    
    </div>
    <div class="inner-page row">
      <div class="col-md-4">
        <a href="http://www.scrumalliance.org/" target="_blank"><img class="lazy" src="/img/sponsors/scrum-alliance.png"></a>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <p class="lead">Become part of something bigger than you alone. With over 375,000 members worldwide, <a href="http://www.scrumalliance.org/" target="_blank">Scrum Alliance</a> brings you together with like-minded people who are passionate about Scrum and who are changing the world of work every day.</p>
        <p class="lead">We are a nonprofit membership organization that encourages and supports the widespread adoption and effective practice of Scrum. We provide advocacy, community, and education to support this movement, equip our members, and help them succeed with Scrum in software development and beyond. Learn more at <a href="http://www.scrumalliance.org/" target="_blank">www.ScrumAlliance.org</a> and come sprint with us!</p>
      </div>    
    </div>
    <div class="inner-page row lazy-container loaded">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <a href="http://www.tele2.lv/" target="_blank"><img class="lazy" src="/img/sponsors/tele2.png" alt="Tele2"></a>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <a href="http://www.visma.lv/" target="_blank"><img class="lazy" src="/img/sponsors/visma.png" alt="Visma Enterprise"></a>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <a href="http://www.strategicstaff.com/" target="_blank"><img class="lazy" src="/img/sponsors/s3.png" alt="Strategic Stuffing Solutions"></a>
      </div>
      <div class="col-md-1"></div>
    </div> 
    <div class="inner-page row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <a href="http://www.kursors.lv/" target="_blank"><img class="lazy" src="/img/sponsors/Kursorslv.png" alt="Kursors.lv"></a>
      </div>
      <div class="col-md-5"></div>
    </div> <!-- /sponsors -->