  <div id="about" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">Agile Day Riga {{ page.year }}</h2>
    </div>
    <div class="inner-page row">
      <div class="col-md-12">
        <p class="lead">It's time to set a new event in your calendars again. We will be glad if you join us on {{ page.date }}.
        Let's use these days for peer-to-peer learning, collaboration and creativity. We invite you to join and share your insights and feelings, discuss the questions you care about. Let's learn together! </p>
      </div>
    </div>

    <!-- about -->
    <div class="inner-page row">
      <div class="col-md-6">
        <h3>What is Agile Day Riga?</h3>
        <p>Goal of this conference is to provide a clear explanation why Agile and Lean software development approaches became so important nowadays, show how these approaches help to solve problems and facilitate discussions and experience exchange between Agile practitioners and newcomers.</p>
      </div>
      <div class="col-md-6">
        <img class="figurette lazy" src="/img/conference-2016.jpg" data-original="/img/conference-2016.jpg" alt="Agile Day Riga" style="display: block;">
      </div>
    </div> 
    <div class="inner-page row">
      <div class="col-md-4 col-md-offset-1"> <!-- <div class="col-md-3 lazy-container"> -->
        <a href="http://www.agilelatvia.org" target="_blank"><img class="figurette lazy"  src="/img/agile-latvia.png" data-original="/img/agile-latvia-small.png" alt="Agile Latvia" style="display: block;"></a> <!-- height="130" -->
      </div>
      <div class="col-md-6">
        <h3>What is Agile Latvia?</h3>
        <p>Agile Latvia is a community with a goal to spread information about Agile practices amongst Latvian software development professionals and industry newcomers.</p>
      </div>


    </div> <!-- /about -->