  <div id="about" class="page color-4">

    <div class="inner-page row">
      <!--<div class="col-md-6">
        <p>Let's use these two days for peer-to-peer learning, collaboration and creativity. </p>
          <p>We invite you to join and share your insights and feelings, discuss questions you care about.</p>
        <!--<p class="lead">This year we are going to explore different ways how to scale Agile and how to transform your organization in order to achieve it. Let's learn together!</p>
        <p>
          The first day will be dedicated for a conference - speakers from many countries will share there knowledge and experience on several tracks.
          Open Space will take place on the second day! Read more about <a href="#openSpace">Open Space below</a>. </p>

          <p>Coaching Clinic will be running both days, so bring your complex or not so much questions to be dicsused with speakers and fellow Agile enthusiasts.</p>
      </div>-->
      <div class="col-md-6">
        <img class="figurette lazy" src="/img/conference-2018-preparation.jpg" data-original="/img/conference-2018-preparation.jpg" alt="Agile Day Riga 2018 preparation" style="display: block;">
      </div>
      <div class="col-md-6">
        <h3>Welcome to Agile Day Riga {{ page.year }}</h3>
          <!--<blockquote class="blockquote text-left">-->

            <p class="lead">We are organising Agile Day Riga conference, so that we together learn more of:
            <ul class="ul-with-bullets">
              <li>Asking "Why? over blindly copying what others are doing.</li>
              <li>Focusing on mindset and culture over practices.</li>
              <li>Building safety and trust over process and tools.</li>
              <li>Working together over roles.</li>
            </ul>
            Join us and let’s enjoy what we are doing together!<br><br>
            <footer class="blockquote-footer">Agile Latvia Team <cite title="Source Title">working on ADR</p>
          <!--</blockquote>-->
      </div>


    </div>

    <!-- about -->
    <div class="inner-page row">
      <div class="col-md-6">
        <h3>What is Agile Day Riga?</h3>
        <p>Our goal is to enable and nurture Agile and Lean community of people in Latvia for collaboration, information sharing, discussions, and, as an agile community, to enable self-organization. ADR is:
            <ul class="ul-with-bullets">
              <li>completely non-profit,</li>
              <li>organised for over six years without any need of formal structures or management,</li>
              <li>is all about practitioners that actully work Agile and Lean,</li>
              <li>since 2011, volunteers from the <a href="#alv">Agile Latvia</a> network have organized annual (un-)conferences to meet old and new friends, to exchange opinions and learn or share.</li>
            </ul>
        </p>
      </div>
      <div class="col-md-6">
        <img class="figurette lazy" src="/img/conference-2017.jpg" data-original="/img/conference-2017.jpg" alt="Agile Day Riga" style="display: block;">
      </div>
    </div>
    <div class="inner-page row" id="openSpace">
      <div class="col-md-6"> <!-- <div class="col-md-3 lazy-container"> -->
        <img class="figurette lazy"  src="/img/open-space.jpg" data-original="/img/open-space.jpg" alt="Open Space" style="display: block;"><!-- height="130" -->
      </div>
      <div class="col-md-6" >
        <h3>What is Open Space?</h3>
        <p>It is an agenda-less event where people come together, create agenda under specific theme, and then learn from each other in small groups. Items in agenda can be anything: problems, situations, experiences, approaches, lectures, etc. related to the specific theme. Please take a read and watch couple of videos below to get you into the mood and ‘be prepared to be surprised’ on July 8!</p>
        <p>You can find more details about Open Space format <a href="http://openspaceworld.org/wp2/explore/guided-tour/">here</a>. <!--Also you can take a look at <a href="https://www.youtube.com/watch?v=M_jhcvCYBbg">video #1</a> and <a href="https://www.youtube.com/watch?v=PscgoCEUF10">video #2</a> to see it happening.--></p>
      </div>
    </div>
    <div class="inner-page row">
      <div class="col-md-9">
        <h3>What is Scrum Alliance User Group?</h3>
        <p>Training and certification is the initial step on your journey, but joining a user group is just as important. User groups help you stay current on best practices, share experiences and knowledge. You can also earn Category A or D SEUs toward your CSP certification through events organized by User Groups.</p>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <a href="https://membership.scrumalliance.org/members/member_engagement/groups.aspx?id=179479"><img class="figurette lazy" src="/img/SCR20456_UserGroup_Logo-RGB-107x130.png" data-original="/img/SCR20456_UserGroup_Logo-RGB-107x130.png" alt="Official Scrum Alliance User Group" style="display: block;"></a>
      </div>
    </div>
    <div class="inner-page row" id="alv">
      <div class="col-md-3"> <!-- <div class="col-md-3 lazy-container"> -->
        <a href="http://www.agilelatvia.org" target="_blank"><img class="figurette lazy"  src="/img/agile-latvia.png" data-original="/img/agile-latvia-small.png" alt="Agile Latvia" style="display: block;"></a> <!-- height="130" -->
      </div>
      <div class="col-md-8 col-md-offset-1" >
        <h3>What is Agile Latvia?</h3>
        <p>Agile Latvia is a community with a goal to spread information about Agile practices amongst Latvian software development professionals and industry newcomers. Scrum Alliance User Groups number in the hundreds and are located around the world. Agile Latvia is the one near you and we are happy to help you!</p>
      </div>
    </div> <!-- /about -->
  </div>
