  <div id="about" class="page color-4">

    <div class="inner-page row">
      <div class="col-md-12 "><h2 class="page-headline large">Welcome to Agile <font style="text-decoration:line-through">Day</font> Week Riga {{ page.year }}!</h2>
</div>
      <div class="col-md-6">
        <img class="figurette lazy" src="/img/conference-2019-team.png" data-original="/img/conference-2019-team.png" alt="Agile Day Riga 2019 preparation" style="display: block;">
      </div>
      <div class="col-md-6">
          <br>This year we have prepared something special for you:
          <ul class="ul-with-bullets">
            <li>June 17-19 - Three days filled with workshops from the conference speakers:
              <ul class="ul-with-bullets">
                <li>From Scrum.org certified trainer <a href="https://www.scrum.org/user/144">ILLIA Pavlichenko</a>
                  <ul class="ul-with-bullets">
                    <li>June 17th - <a href="files/System-Thinking-1-Day.pdf" target="_blank">System Thinking</a> <a href="https://www.eventbrite.com/e/introduction-to-system-thinking-by-illya-pavlichenko-tickets-57074222536?ref=ebtn" target="_blank"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                    <li>June 18-19th - <a href="https://www.scrum.org/professional-scrum-master-ii-certification">PSM II certification</a> <a href="https://www.eventbrite.com/e/professional-scrum-master-level-ii-by-illya-pavlichenko-tickets-55332929281?ref=ebtn" target="_blank"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                  </ul>
                </li>
                <li>June 17th - <a href="https://www.linkedin.com/in/leoniduljankin/">Leonid Uljankin</a> and <a href="http://agilix.ru/#rec71911162">Irina Skrypnik</a> - The Art of Facilitation</li>
                <li>June 18th - <a href="https://www.linkedin.com/in/janislama/">Janis Lama</a> - <A href="https://www.eventbrite.com/e/practical-kanban-by-janis-lama-tickets-58779842090?ref=ebtn" target="_blank">Practical Kanban <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                <li>4 x one day long slots for your company requested workshops - <a href="mailto:info@agilelatvia.org">contact us</a> with proposals!</li>
               </ul>
and many others!
             </li>
              <li>
                Conference <a href="https://www.eventbrite.com/e/agile-days-riga-2019-tickets-56872374804?ref=ebtn" target="_blank"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                <ul>
            <li>June 20 - Conference day one - three tracks</li>
            <li>June 21 - Second day of the conference: <A href="#openSpace">Open Space</a></li>

            </li>
            </ul>
          </ul>
      </div>


    </div>

    <!-- about -->
    <div class="inner-page row">
      <div class="col-md-6">
        <h3>What is Agile Day Riga?</h3>
        <p>Our goal is to enable and nurture Agile and Lean community of people in Latvia for collaboration, information sharing, discussions, and, as an agile community, to enable self-organization. ADR is:
            <ul class="ul-with-bullets">
              <li>Completely non-profit.</li>
              <li>Organised for over seven years without a need of formal structures or management</li>
              <li>Is all about practitioners which actully work Agile and Lean.</li>
              <li>Since 2011, volunteers from <a href="#alv">Agile Latvia</a> network have organized annual (un-)conferences to meet old and new friends, to exchange opinions and learn or share.</li>
            </ul>
        </p>
      </div>
      <div class="col-md-6">
        <img class="figurette lazy" src="/img/conference-2019-preparation.jpg" data-original="/img/conference-2019-preparation.jpg" alt="Agile Day Riga" style="display: block;">
      </div>
    </div>
    <div class="inner-page row" id="openSpace">
      <div class="col-md-6"> <!-- <div class="col-md-3 lazy-container"> -->
        <img class="figurette lazy"  src="/img/open-space.jpg" data-original="/img/open-space.jpg" alt="Open Space" style="display: block;"><!-- height="130" -->
      </div>
      <div class="col-md-6" >
        <h3>What is Open Space?</h3>
        <p>It is an agenda-less event where people come together and create agenda together under specific theme to learn from each other in small groups. Items on the agenda can be pretty much anything: problems, situations, experiences, approaches, lectures, etc.
        </p><p> Be prepared to be surprised on June 21!</p>
        <p>You can find more details about Open Space format <a href="http://openspaceworld.org/wp2/explore/guided-tour/">here</a>. <!--Also you can take a look at <a href="https://www.youtube.com/watch?v=M_jhcvCYBbg">video #1</a> and <a href="https://www.youtube.com/watch?v=PscgoCEUF10">video #2</a> to see it happening.--></p>
      </div>
    </div>
    <div class="inner-page row">
      <div class="col-md-9">
        <h3>What is Scrum Alliance User Group?</h3>
        <p>Training and certification is the initial step on your journey, but joining a user group is just as important. User groups help you stay current on best practices, share experiences and knowledge. You also earn 16 SEUs this year too, just don't forget to register those toward your certification through events organized by User Groups.</p>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <a href="https://membership.scrumalliance.org/members/member_engagement/groups.aspx?id=179479"><img class="figurette lazy" src="/img/SCR20456_UserGroup_Logo-RGB-107x130.png" data-original="/img/SCR20456_UserGroup_Logo-RGB-107x130.png" alt="Official Scrum Alliance User Group" style="display: block;"></a>
      </div>
    </div>
    <div class="inner-page row" id="alv">
      <div class="col-md-3"> <!-- <div class="col-md-3 lazy-container"> -->
        <a href="http://www.agilelatvia.org" target="_blank"><img class="figurette lazy"  src="/img/agile-latvia.png" data-original="/img/agile-latvia-small.png" alt="Agile Latvia" style="display: block;"></a> <!-- height="130" -->
      </div>
      <div class="col-md-8 col-md-offset-1" >
        <h3>What is Agile Latvia?</h3>
        <p>Agile Latvia is a community with a goal to spread information about Agile practices amongst Latvian software development professionals and industry newcomers. Scrum Alliance User Groups number in the hundreds and are located around the world. Agile Latvia is the one near you and we are happy to help you!</p>
      </div>
    </div>
    <div class="inner-page row" id="CoachingClinic">

      <div class="col-md-6" >
        <h3>Coaching Clinic</h3>
        <p>Bring your questions, problems and pains and figure out together with expirienced professionals how to address those. Coaches’ Clinic will be available during whole conference.</p>
        <p>Coaches’ Clinics are a unique way to help you withs challenges you’ve encountered on your way to a more Agile way of working. Organized by <a href="http://Agiletransformer.com">Agiletransformer.com</a> training and coaching community.</p>
      </div>
      <div class="col-md-5 col-md-offset-1"> <!-- <div class="col-md-3 lazy-container"> -->
        <img class="figurette lazy"  src="/img/coaching-clinic.jpg" data-original="/img/coaching-clinic.jpg" alt="Coaching Clinic" style="display: block;"><!-- height="130" -->
      </div>
    </div> <!-- /about -->
  </div>
