  <!-- Call for speakers -->
  <div id="cfp" class="page color-1">
    <div class="inner-page">
      <h2 class="page-headline">Call For Papers <i class="fa fa-bullhorn fa-5"></i></h2>
    </div>
    <div class="inner-page row">
      <div class="col-md-12">
        <p class="lead">Submit a proposal for your awesome session <a href="https://goo.gl/c2h5sj"  target="_blank">here <i class="fa fa-external-link"></i></a></p>

        <p>We welcome and encorage anyone with relevant topic to participate as a speaker in the conference. The relevance of the topic is decided by the conference orgonisers. Here are some things you should know:

          <ul class="ul-with-bullets">
            <li>The sessions can be conducted in any language known to the audience, however we recommend to use English.</li>
            <li>Call for papers will be closed on April 30.</li>
            <li>Conference organizers have the right to decline the session.</li>
            <li>The organizers do not warrant refund of travel expenses of the speakers.</li>
            <li>We strive to process your requests within two weeks time from submission date.</li>
          </ul>
        </p>
      </div>

    </div>
  </div> <!-- /Call for speakers -->
