  <!-- tickets -->
  <div id="tickets" class="page color-3">
    <div class="inner-page">
      <h2 class="page-headline">Tickets</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-12">
        <h3 align=center>Conference both days 20-21 of June</h3>
        <div style="width:100%; text-align:left;"><iframe src="https://eventbrite.com/tickets-external?eid=56872374804&ref=etckt" frameborder="0" height="557" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>
      </div>
    </div>

    <div class="row inner-page">
      <div class="col-md-12">
        <h3 align=center>June 17th - <a href="files/System-Thinking-1-Day.pdf" target="_blank">System Thinking</a> from Scrum.org certified trainer <a href="https://www.scrum.org/user/144">ILLIA Pavlichenko</a></h3>
        <div style="width:100%; text-align:left;"><iframe src="https://eventbrite.com/tickets-external?eid=57074222536&ref=etckt" frameborder="0" height="483" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>
      </div>
    </div>
    <div class="row inner-page">
      <div class="col-md-12">
        <h3 align=center>June 17th - The Art of Facilitation from <a href="https://www.linkedin.com/in/leoniduljankin/" target="_blank" >Leonid Uljankin</a> and <a href="http://agilix.ru/team" target="_blank">Irina Skrypnik</a></h3>
        <div style="width:100%; text-align:left;"><iframe src="https://eventbrite.com/tickets-external?eid=59339623411&ref=etckt" frameborder="0" height="483" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>
      </div>
    </div>
    <div class="row inner-page">
      <div class="col-md-12">
        <h3 align=center>June 18th - <a href="https://www.linkedin.com/in/janislama/" target="_blank">Janis Lama</a> - Practical Kanban</h3>
        <div style="width:100%; text-align:left;"><iframe src="https://eventbrite.com/tickets-external?eid=58779842090&ref=etckt" frameborder="0" height="483" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>
      </div>
    </div>
    <div class="row inner-page">
      <div class="col-md-12">
        <h3 align=center>18-19 June - <a href="https://www.scrum.org/professional-scrum-master-ii-certification" target="_blank">PSM II certification</a> from Scrum.org certified trainer <a href="https://www.scrum.org/user/144">ILLIA Pavlichenko</a></h3>
        <div style="width:100%; text-align:left;"><iframe src="https://eventbrite.com/tickets-external?eid=55332929281&ref=etckt" frameborder="0" height="483" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe> </div>
      </div>
    </div>

  </div> <!-- /tickets -->
