

  <!-- Schedule caption -->
  <div id="schedule" class="page color-3">
    <div class="inner-page">
      <h2 class="page-headline">Schedule</h2>
    </div>
    <div class="inner-page row">
      <div class="col-md-12">
        <p class="lead">{% if page.schedule-status %}{{ page.schedule-status }}{% endif %} {% if page.schedule-lanyrd %}The recent schedule can be found <a href="{{ page.schedule-status }}" target="_blank">here</a>.{% endif %}</p> 
      </div>
    </div>

    <!-- Sessions -->
    <div class="row inner-page">
    {% for session in site.data.sessions[page.year] | sort 'session[0]' %}
      <!-- {{ session[0] }} -->
      <div class="col-md-12">
      	<h3>{% if session[1].title %}{{ session[1].title | strip_html }}{% endif %}{% if session[1].time %} ({{ session[1].time | strip_html }}){% endif %}</h3>
      	<p>{% if session[1].about %}{{ session[1].about | strip_html }}{% endif %}</p>
		<p class="social">
		  {% if session[1].slides %}<a href="{{ session[1].slides }}" title="Slides"><i class="fa fa-file-text"></i></a>{% endif %}
		  {% if session[1].video %}<a href="{{ session[1].video }}" title="Video"><i class="fa fa-youtube-square"></i></a>{% endif %}
		</p>
      </div>
      <div class="col-md-2">
      	<img class="pull-left figurette lazy" style="width: 160px; margin-top: 16px; margin-right: 16px"   src="{% if page.title %}{{ session[1].photo }}{% endif %}" >
      </div>
      <div class="col-md-10">
      	<h4>{% if session[1].name %}{{ session[1].name | strip_html }}{% endif %}</h4>
      	<p>{% if session[1].bio %}{{ session[1].bio | strip_html }}{% endif %}</p>
      	<p class="social"	>
     	  {% if session[1].blog %}<a href="{{ session[1].blog }}" title="Blog"><i class="fa fa-home"></i></a>{% endif %}
	      {% if session[1].facebook %}<a href="{{ session[1].facebook }}" title="Facebook"><i class="fa fa-facebook-square"></i></a>{% endif %}
	      {% if session[1].twitter %}<a href="{{ session[1].twitter }}" title="Twitter"><i class="fa fa-twitter"></i></a>{% endif %}
	      {% if session[1].linkedin %}<a href="{{ session[1].linkedin }}" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>{% endif %}
	      {% if session[1].google-plus %}<a href="{{ session[1].google-plus }}" title="Google+"><i class="fa fa-google-plus"></i></a>{% endif %}
      	</p>
      </div>      
    {% endfor %}
    </div> <!-- /sessions -->
  </div> <!-- /Schedule -->