  <div id="sponsors" class="page color-3">
    <!-- sponsors -->
    
    {% if page.call-for-sponsors == "on" %}
    <div class="inner-page">
      <h2 class="page-headline">Looking for sponsors</h2>
    </div>
    <div class="inner-page row">
      <div class="col-md-12">





        <p class="lead"> Independent, nonprofit organization - <A href="#alv">Agile Latvia</a>, is offering your organization to join us as a sponsor for: “Agile Day Riga 2018” conference, which is going to take place in Radisson Blu Daugava Riga during 19th - 20th of July 2018.</p>

        <p>Becoming a sponsor will allow you to place the name of your company amongst the ones that:
          <ul class="ul-with-bullets">
            <li>contribute to the development of Latvia, </li>
            <li>help improving IT industry and provide new opportunities for professionals,</li>
            <li>show yourself as a company who cares about their people by supporting Agile way of working.</li>
          </ul>
        </p>

            <iframe src="{{ page.call-for-sponsors-proposal }}" min-width="500" width="100%" height="955" frameborder="0" marginheight="0" marginwidth="0"></iframe>
      </div>
    </div>
    {% endif %}
    <!-- platinums -->
      <!-- calculate qnt of sponsors -->
      {% assign platinums_qnt = 0 %}
      {% for platinums in site.data.sponsors[page.year].platinum %}
        {% assign platinums_qnt = platinums_qnt | plus: 1 %}
      {% endfor %}
      {% if site.data.sponsors[page.year].platinum.title != null %}{% assign platinums_qnt = platinums_qnt | plus: -1 %}{% endif %}
      {% if site.data.sponsors[page.year].platinum.show-captions != null %}{% assign platinums_qnt = platinums_qnt | plus: -1 %}{% endif %}
      <!-- /calculate qnt of sponsors -->

      {% if platinums_qnt > 0 %} <!-- if at least 1 platinum sponsors exist -->

      {% if site.data.sponsors[page.year].show-subtitles == "true" %} <!-- if sub-titles for platinum sponsors are enabled -->
      <div class="inner-page">
        <h3 class="sponsors-subtitle">{{ site.data.sponsors[page.year].platinum.title }}</h3>
      </div>{% endif %} <!-- /if sub-titles for platinum sponsors are enabled -->

      {% if site.data.sponsors[page.year].platinum.show-captions == "true" or site.data.sponsors[page.year].platinum.show-captions == null %} <!-- if captions for platinum sponsors are enabled -->

      {% for platinums in site.data.sponsors[page.year].platinum %}
      {% if platinums[1].title != null %}
      <div class="inner-page row">
        <div class="col-md-4">
          <a title="{{ platinums[1].title }}" href="{{ platinums[1].url }}" target="_blank"><img class="lazy" src="{{ platinums[1].image }}" alt="{{ platinums[1].title }}"></a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <p class="lead">{{ platinums[1].promo }}</p>
        </div>
      </div>
      {% endif %}
      {% endfor %}

      {% endif %} <!-- if captions are not enabled -->

      {% endif %} <!-- /if at least 1 platinum sponsors exist -->
    <!-- /platinums -->

    <!-- golds -->
      <!-- calculate qnt of gold sponsors -->
      {% assign golds_qnt = 0 %}
      {% assign golds_counter = 0 %}
      {% for golds in site.data.sponsors[page.year].gold %}
        {% assign golds_qnt = golds_qnt | plus: 1 %}
      {% endfor %}
      {% if site.data.sponsors[page.year].gold.title != null %}{% assign golds_qnt = golds_qnt | plus: -1 %}{% endif %}
      {% if site.data.sponsors[page.year].gold.show-captions != null %}{% assign golds_qnt = golds_qnt | plus: -1 %}{% endif %}
      <!-- /calculate qnt of gold sponsors -->

      {% if golds_qnt > 0 %} <!-- if at least 1 gold sponsors exist -->

      {% if site.data.sponsors[page.year].show-subtitles == "true" %} <!-- if sub-titles for gold sponsors are enabled -->
      <div class="inner-page">
        <h3 class="sponsors-subtitle">{{ site.data.sponsors[page.year].gold.title }}</h3>
      </div>{% endif %} <!-- /if sub-titles for gold sponsors are enabled -->

      {% if site.data.sponsors[page.year].gold.show-captions == "true" %} <!-- if captions for gold sponsors are enabled -->

      {% for golds in site.data.sponsors[page.year].gold %}
      {% if golds[1].title != null %}
      <div class="inner-page row">
        <div class="col-md-4">
          <a title="{{ golds[1].title }}" href="{{ golds[1].url }}" target="_blank"><img class="lazy" src="{{ golds[1].image }}" alt="{{ golds[1].title }}"></a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <p class="lead">{{ golds[1].promo }}</p>
        </div>
      </div>
      {% endif %}
      {% endfor %}

      {% else %} <!-- if captions are not enabled -->

      {% if golds_qnt > 0 %} <!-- if gold sponsors exist we should add row -->
      <div class="inner-page row">
      {% endif %} <!-- /if gold sponsors exist we should add row -->

      {% for golds in site.data.sponsors[page.year].gold %}
      {% if golds[1].title != null %}
      {% assign golds_counter = golds_counter | plus: 1 %}
      {% if golds_counter == 4 or golds_counter == 8 or golds_counter == 12 %}</div><div class="inner-page row">{% endif %}
      <div class="col-md-3 logo-info-box">
        <a href="{{ golds[1].url }}" title="{{ golds[1].title }}" target="_blank"><img class="lazy logo" src="{{ golds[1].image }}" alt="{{ golds[1].title }}"></a>
      </div>
      <div class="col-md-1 logo-info-box"></div>
      {% endif %}
      {% endfor %}
      {% if golds_qnt > 0 %}</div>{% endif %}

      {% endif %}

      {% endif %} <!-- /if at least 1 gold sponsors exist -->
    <!-- /golds -->

    <!-- silver -->
      <!-- calculate qnt of sponsors -->
      {% assign silvers_qnt = 0 %}
      {% assign silvers_counter = 0 %}
      {% for silvers in site.data.sponsors[page.year].silver %}
        {% assign silvers_qnt = silvers_qnt | plus: 1 %}
      {% endfor %}
      {% if site.data.sponsors[page.year].silver.title != null %}{% assign silvers_qnt = silvers_qnt | plus: -1 %}{% endif %}
      {% if site.data.sponsors[page.year].silver.show-captions != null %}{% assign silvers_qnt = silvers_qnt | plus: -1 %}{% endif %}
      <!-- /calculate qnt of sponsors -->

      {% if silvers_qnt > 0 %} <!-- if at least 1 silver sponsors exist -->

      {% if site.data.sponsors[page.year].show-subtitles == "true" %} <!-- if sub-titles for silver sponsors are enabled -->
      <div class="inner-page">
        <h3 class="sponsors-subtitle">{{ site.data.sponsors[page.year].silver.title }}</h3>
      </div>{% endif %} <!-- /if sub-titles for silver sponsors are enabled -->

      {% if site.data.sponsors[page.year].silver.show-captions == "true" %} <!-- if captions for silver sponsors are enabled -->

      {% for silvers in site.data.sponsors[page.year].silver %}
      {% if silvers[1].title != null %}
      <div class="inner-page row">
        <div class="col-md-4">
          <a title="{{ silvers[1].title }}" href="{{ silvers[1].url }}" target="_blank"><img class="lazy" src="{{ silvers[1].image }}" alt="{{ silvers[1].title }}"></a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <p class="lead">{{ silvers[1].promo }}</p>
        </div>
      </div>
      {% endif %}
      {% endfor %}

      {% else %} <!-- if captions are not enabled -->

      {% if silvers_qnt > 0 %} <!-- if silver sponsors exist we should add row -->
      <div class="inner-page row">
      {% endif %} <!-- /if silver sponsors exist we should add row -->

      {% for silvers in site.data.sponsors[page.year].silver %}
      {% if silvers[1].title != null %}
      {% assign silvers_counter = silvers_counter | plus: 1 %}
      {% if silvers_counter == 4 or silvers_counter == 8 or silvers_counter == 12 %}</div><div class="inner-page row">{% endif %}
      <div class="col-md-3 logo-info-box">
        <a href="{{ silvers[1].url }}" title="{{ silvers[1].title }}" target="_blank"><img class="lazy logo" src="{{ silvers[1].image }}" alt="{{ silvers[1].title }}"></a>
      </div>
      <div class="col-md-1 logo-info-box"></div>
      {% endif %}
      {% endfor %}
      {% if silvers_qnt > 0 %}</div>{% endif %}

      {% endif %}

      {% endif %} <!-- /if at least 1 silver sponsors exist -->
    <!-- /silver -->

    <!-- infos -->
      <!-- calculate qnt of info sponsors -->
      {% assign infos_qnt = 0 %}
      {% assign infos_counter = 0 %}
      {% for infos in site.data.sponsors[page.year].info %}
        {% assign infos_qnt = infos_qnt | plus: 1 %}
      {% endfor %}
      {% if site.data.sponsors[page.year].info.title != null %}{% assign infos_qnt = infos_qnt | plus: -1 %}{% endif %}
      {% if site.data.sponsors[page.year].info.show-captions != null %}{% assign infos_qnt = infos_qnt | plus: -1 %}{% endif %}
      <!-- /calculate qnt of info sponsors -->

      {% if infos_qnt > 0 %} <!-- if at least 1 info sponsors exist -->

      {% if site.data.sponsors[page.year].show-subtitles == "true" %} <!-- if sub-titles for silver sponsors are enabled -->
      <div class="inner-page">
        <h3 class="sponsors-subtitle">{{ site.data.sponsors[page.year].info.title }}</h3>
      </div>{% endif %} <!-- /if sub-titles for silver sponsors are enabled -->

      {% if infos_qnt > 0 %} <!-- if info sponsors exist we should add row -->
      <div class="inner-page row">
      {% endif %} <!-- /if info sponsors exist we should add row -->
<!-- -->

      {% for infos in site.data.sponsors[page.year].info %}
      {% if infos[1].url != null %}
      {% assign infos_counter = infos_counter | plus: 1 %}
      {% if infos_counter == 5 or infos_counter == 9 or infos_counter == 13 %}</div><div class="inner-page row">{% endif %}
      <div class="col-md-2 logo-info-box">
        <a href="{{ infos[1].url }}" title="{{ infos[1].title }}" target="_blank"><img class="lazy logo" src="{{ infos[1].image }}" alt="{{ infos[1].title }}"></a>
      </div>
      <div class="col-md-1 logo-info-box"></div>
      {% endif %}
      {% endfor %}
      {% if infos_qnt > 0 %}</div>{% endif %}

      {% endif %} <!-- /if at least 1 info sponsors exist -->
    <!-- /infos -->
  </div>
