{% if page.year == 2019 %}
  {% include radisson-blu-daugava-hotel2019.html %}
{% endif %}
{% if page.year == 2018 %}
  {% include radisson-blu-daugava-hotel2018.html %}
{% endif %}
{% if page.year == 2017 %}
  {% include radisson-blu-daugava-hotel.html %}
{% endif %}
{% if page.year == 2015 %}
  {% include islande-hotel.html %}
{% endif %}
{% if page.year == 2014 %}
  {% include microsoft-latvia.html %}
{% endif %}
{% if page.year == 2016 %}
  {% include islande-hotel.html %}
{% endif %}
{% if page.year == 2012 %}
  {% include radisson-blu-hotel-latvija.html %}
{% endif %}
{% if page.year == 2011 %}
  {% include tallink-riga-hotel.html %}
{% endif %}
