  <!-- Schedule caption -->
  <div id="sessions" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">Schedule</h2>
    </div>
    {% if page.year > 2011 %}
    {% if page.schedule-status == "on" %}
    <div class="inner-page">
      <div class="col-md-12">
        <p class="lead">
        {% if page.schedule-lanyrd %}The recent schedule can be found <a href="{{ page.schedule-lanyrd }}" target="_blank">here</a>.{% endif %}
        </p> 
      </div>
    </div>
    {% endif %}
    {% endif %}

    <!-- calculate number of days -->
    {% assign days_qnt = 0 %}
    {% assign days = 0 %}
    {% for session in site.data.sessions[page.year] %}
      {% if session[1].day != null %}
        {% if day != session[1].day %}
          {% assign days = session[1].day %}
        {% endif %}
      {% endif %}
    {% endfor %}
    <!-- /calculate number of days -->

    <!-- let's iterate by days -->
    {% for i in (1..days) %}
      {% if days > 1 %} <!-- display day if more than one -->
      <div class="inner-page">
        <h3 class="sponsors-subtitle">Day {{ i }}</h3>
      </div>
      {% endif %} <!-- /display day if more than one -->

      <!-- Sessions -->
      <div class="row inner-page">

      <!-- let's display sessions for the day and sort them -->  
      {% assign sessions_sorted = site.data.sessions[page.year] | sort:  %}

      {% for session in sessions_sorted %}
      {% if session[1].day == i %}
      <hr class="col-md-12">
      <div id="{{ session[0] }}" class="col-md-12">
        <h3>{% if session[1].title %}{{ session[1].title | strip_html }}{% endif %}{% if session[1].time %} ({{ session[1].time | strip_html }}{% if session[1].place %}; {{ session[1].place | strip_html }}{% endif %}){% endif %}</h3>
        <p>{% if session[1].about %}{{ session[1].about | strip_html }}{% endif %}</p>
        <p class="social-darker">
        {% if session[1].slides %}<a href="{{ session[1].slides }}" title="Slides"><i class="fa fa-file-text"></i></a>{% endif %}
        {% if session[1].video %}<a href="{{ session[1].video }}" title="Video"><i class="fa fa-youtube-square"></i></a>{% endif %}
        </p>
      </div>
      <!-- Speaker (s) -->
      {% for speaker in session[1].speakers %}
      <div class="row">
        <div class="col-md-2">
          <img class="pull-left figurette lazy" style="width: 160px; margin-top: 16px; margin-right: 16px"   src="{% if page.title %}{{ speaker[1].photo }}{% endif %}" alt="{% if speaker[1].name %}{{ speaker[1].name | strip_html }}{% endif %}">
        </div>
        <div class="col-md-10">
          <h4>{% if speaker[1].name %}{{ speaker[1].name | strip_html }}{% endif %}</h4>
          <p>{% if speaker[1].bio %}{{ speaker[1].bio | strip_html }}{% endif %}</p>
          <p class="social-darker">
          {% if speaker[1].blog %}<a href="{{ speaker[1].blog }}" title="Blog"><i class="fa fa-home"></i></a>{% endif %}
          {% if speaker[1].facebook %}<a href="{{ speaker[1].facebook }}" title="Facebook"><i class="fa fa-facebook-square"></i></a>{% endif %}
          {% if speaker[1].twitter %}<a href="{{ speaker[1].twitter }}" title="Twitter"><i class="fa fa-twitter"></i></a>{% endif %}
          {% if speaker[1].linkedin %}<a href="{{ speaker[1].linkedin }}" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>{% endif %}
          {% if speaker[1].google-plus %}<a href="{{ speaker[1].google-plus }}" title="Google+"><i class="fa fa-google-plus"></i></a>{% endif %}
          </p>
        </div>
      </div>
      {% endfor %}
      {% endif %}
      {% endfor %}
      <!-- /let's display sessions for the day -->  
    {% endfor %}
    <!-- /let's iterate by days -->

    </div> <!-- /sessions -->
  </div> <!-- /Schedule -->