<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "url": "http://agiledayriga.lv",
  "image": "http://agiledayriga.lv/img/adr17.png",
  "description": "Goal of this conference is to provide a clear explanation why Agile and Lean software development approaches became so important nowadays, show how these approaches help to solve problems and facilitate discussions and experience exchange between Agile practitioners and newcomers.",
  "eventStatus": "Tickets on Sale.",
  "location": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Riga",
      "addressRegion": "Zemgales priekšpilsēta",
      "postalCode": "LV-1048",
      "streetAddress": "Kuģu iela 24"
    },
    "name": "Radisson Blu Daugava Hotel"
  },
  "name": "Agile Day Riga 2017",
  "offers": {

  },
  "offers": [
    {
      "@type": "Offer",
      "price": "35",
      "validFrom": "2017-05-26T00:01",
      "validThrough": "2017-06-05T23:59",
      "priceCurrency": "EUR",
      "url": "http://agiledayriga.lv/index.html#tickets",
      "availability" : "http://schema.org/SoldOut"
    },{
      "@type": "Offer",
      "price": "49",
      "validFrom": "2017-06-06T00:01",
      "validThrough": "2017-06-30T23:59",
      "priceCurrency": "EUR",
      "url": "http://agiledayriga.lv/index.html#tickets",
      "availability" : "http://schema.org/LimitedAvailability"
    },{
      "@type": "Offer",
      "price": "45",
      "validFrom": "2017-05-06T00:01",
      "validThrough": "2017-06-30T23:59",
      "priceCurrency": "EUR",
      "url": "http://agiledayriga.lv/index.html#tickets",
      "availability" : "http://schema.org/LimitedAvailability"
    }
    ],
  "startDate": "2017-07-07T10:00",
  "endDate": "2017-07-08T18:00"
}
</script>