  <!-- venue -->
  <div id="venue" class="page color-2">
    <div class="inner-page">
      <h2 class="page-headline">Venue</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-12">
        <iframe width="1080" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2175.861274808423!2d24.08415!3d56.951178!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eecfdfd330c559%3A0x39148863eaa41828!2sIslande+Hotel!5e0!3m2!1sru!2slv!4v1426702043607" frameborder="0" style="border:0"></iframe>

        <br /><small><a href="https://www.google.lv/maps/place/Islande+Hotel/@56.951178,24.08415,17z/data=!3m1!4b1!4m2!3m1!1s0x46eecfdfd330c559:0x39148863eaa41828?hl=ru" style="color:#0000FF;text-align:left">Check the map</a></small>
      </div>
    </div>
  </div> <!-- /venue -->
