  <!-- venue -->
  <div id="venue" class="page color-2">
    <div class="inner-page">
      <h2 class="page-headline">Venue</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-12">
        <iframe width="1080" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=1+Za%C4%BC%C4%81+iela,+R%C4%ABga,+R%C4%ABgas+pils%C4%93ta,+Latvijas+Republika&amp;aq=0&amp;oq=Za%C4%BC%C4%81+iela+1+&amp;sll=56.95571,24.11536&amp;sspn=0.014813,0.038581&amp;ie=UTF8&amp;hq=&amp;hnear=Za%C4%BC%C4%81+iela+1,+R%C4%ABga,+LV-1010,+%D0%9B%D0%B0%D1%82%D0%B2%D0%B8%D1%8F&amp;t=m&amp;z=14&amp;iwloc=A&amp;ll=56.958967,24.114272&amp;output=embed"></iframe>

        <br /><small><a href="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=ru&amp;geocode=&amp;q=1+Za%C4%BC%C4%81+iela,+R%C4%ABga,+R%C4%ABgas+pils%C4%93ta,+Latvijas+Republika&amp;aq=0&amp;oq=Za%C4%BC%C4%81+iela+1+&amp;sll=56.95571,24.11536&amp;sspn=0.014813,0.038581&amp;ie=UTF8&amp;hq=&amp;hnear=Za%C4%BC%C4%81+iela+1,+R%C4%ABga,+LV-1010,+%D0%9B%D0%B0%D1%82%D0%B2%D0%B8%D1%8F&amp;t=m&amp;z=14&amp;iwloc=A&amp;ll=56.958967,24.114272" style="color:#0000FF;text-align:left">Check the map</a></small>
      </div>
    </div>
  </div> <!-- /venue -->
