  <!-- venue -->
  <div id="venue" class="page color-2">
    <div class="inner-page">
      <h2 class="page-headline">Venue</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-12">
        <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8702.570691505469!2d24.1176857!3d56.9549231!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb77b7d3e806511c8!2sRadisson+Blu+Hotel+Latvija+Conference+%26+Spa+Hotel%2C+Riga!5e0!3m2!1sen!2slv!4v1487800461028" frameborder="0" style="border:0"></iframe>

        <br /><small><a href="https://www.google.lv/maps/place/Radisson+Blu+Hotel+Latvija+Conference+%26+Spa+Hotel,+Riga/@56.9549231,24.1176857,15z/data=!4m5!3m4!1s0x0:0xb77b7d3e806511c8!8m2!3d56.9549231!4d24.1176857" style="color:#0000FF;text-align:left">Check the map</a></small>
      </div>
    </div>
  </div> <!-- /venue -->

