  <!-- venue -->
  <div id="venue" class="page color-2">
    <div class="inner-page">
      <h2 class="page-headline">Venue</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-12">
        <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8704.057893274923!2d24.1229466!3d56.9485533!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc282d8bfb61bb82a!2sTallink+Hotel+Riga!5e0!3m2!1sen!2slv!4v1487628989508" frameborder="0" style="border:0"></iframe>

        <br /><small><a href="https://www.google.lv/maps/place/Tallink+Hotel+Riga/@56.9485533,24.1229466,15z/data=!4m5!3m4!1s0x0:0xc282d8bfb61bb82a!8m2!3d56.9485533!4d24.1229466" style="color:#0000FF;text-align:left">Check the map</a></small>
      </div>
    </div>
  </div> <!-- /venue -->